.bamboo {
    position: relative;
    z-index: 0;
    /*overflow: hidden;*/
    font-size: 16px;
}

.bamboo>.slides {
    position: relative;
    z-index: 0;  
    margin: 0;
    padding: 0;  
    list-style: none;
}

.bamboo>.slides>.slide {
    z-index: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.bamboo .bamboo-navigation {
    position: absolute;
    bottom: 15%;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    right: 0;
    left: 0; 
}

.bamboo .bamboo-dots {
    position: absolute;
    z-index: 5;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    padding: 0px;
    list-style: none;
}

.bamboo .bamboo-dots * {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 5px;
    transition: 0.4s ease;
    vertical-align: middle;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.bamboo .bamboo-dots *:hover {
    background: var(--darkblue);
}

.bamboo .bamboo-dots *.focus {
    background: var(--darkblue);
}

.bamboo .bamboo-prev {
    position: absolute;
    z-index: 5;
    left: 20%;
    width: 100px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4Mi44MjgiIGhlaWdodD0iNDUuNjU3IiB2aWV3Qm94PSIwIDAgODIuODI4IDQ1LjY1NyI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTYxLjMyOCA4MDAyLjMyOSkgcm90YXRlKDE4MCkiPjxsaW5lIHgyPSI3NSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODAuNSA3OTc5LjUpIiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDc0YzAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSI0Ii8+PGxpbmUgeTE9IjIwIiB4Mj0iMjAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEzOC41IDc5NzkuNSkiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwNzRjMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjQiLz48bGluZSB4Mj0iMjAiIHkyPSIyMCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTM4LjUgNzk1OS41KSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDA3NGMwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS13aWR0aD0iNCIvPjwvZz48L3N2Zz4=");
    background-position: 50% 48%;
    background-size: 80px;
}

.bamboo .bamboo-next {
    position: absolute;
    z-index: 5;
    right: 20%;
    width: 100px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4Mi44MjgiIGhlaWdodD0iNDUuNjU3IiB2aWV3Qm94PSIwIDAgODIuODI4IDQ1LjY1NyI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTc4LjUgLTc5NTYuNjcxKSI+PGxpbmUgeDI9Ijc1IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4MC41IDc5NzkuNSkiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwNzRjMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjQiLz48bGluZSB5MT0iMjAiIHgyPSIyMCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTM4LjUgNzk3OS41KSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDA3NGMwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS13aWR0aD0iNCIvPjxsaW5lIHgyPSIyMCIgeTI9IjIwIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMzguNSA3OTU5LjUpIiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDc0YzAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSI0Ii8+PC9nPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-position: 50% 48%;
    background-size: 80px;
}

.bamboo.roll {

}

.bamboo.roll>.slides {
    position: relative;
    height: 100%;
    transition: 0.2s ease;
}

.bamboo.roll>.slides>* {
    float: left;
    overflow: hidden;
}

.bamboo.roll-horizontal>.slides {
    font-size: 0px;
    white-space: nowrap;
}

.bamboo.roll-horizontal>.slides>* {
    display: inline-block;
    float: none;
    font-size: 12px;
}

.bamboo.fade {

}

.bamboo.fade>.slides>* {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.6s;
    transition-duration: 0.6s !important;
}

.bamboo.into {

}

.bamboo.into>.slides {
    position: relative;
    z-index: 0;
}

.bamboo.into>.slides>* {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.4s linear;
}


.bamboo.into>.bamboo-dots {
    top: 50%;
    right: 10px;
    bottom: auto;
    left: auto;
    width: 15px;
    transform: translateY(-50%);
}

.bamboo.into>.bamboo-dots>* {
    margin: 5px 0;
}

.bamboo.into>.bamboo-prev {
    top: 2px;
    left: 50%;
    transform: rotate(-90deg);
    background-color: rgba(0, 0, 0, 0);
    background-size: 12px;
    /* filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1)); */
}

.bamboo.into>.bamboo-next {
    top: auto;
    bottom: 2px;
    left: 50%;
    transform: rotate(-90deg);
    background-color: rgba(0, 0, 0, 0);
    background-size: 12px;
    /* filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1)); */
}


.bamboo.blinds {

}

.bamboo.blinds>.slides>* {
    position: absolute;
    top: 0;
    left: 0;
}

.bamboo.blinds>.tempSlide {
    position: relative;
    z-index: 2;
}

.bamboo.blinds>.tempSlide>div {
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    overflow: hidden;
    transition: 0.4s ease-out;
    list-style: none;
}



.bamboo.blinds>.tempSlide>div>* {
    position: absolute;
    top: 0px;
    left: 0px;
}

.bamboo.square {
}

.bamboo.square>.slides>* {
    position: absolute;
    top: 0;
    left: 0;
}

.bamboo.square>.tempSlide {
    position: relative;
}

.bamboo.square>.tempSlide>div {
    position: relative;
    float: left;
    overflow: hidden;
    transition: 0.1s ease-out;
    -webkit-transform:translate3d(0,0,0);
    transform: translate3d(0, 0, 0);
    list-style: none;
}

.bamboo.square>.tempSlide>div>* {
    position: absolute;
    top: 0px;
    left: 0px;
}

.bamboo .fit-img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
