.header {
    width: 95%;
    padding-top: 10px;
    position: fixed;
    background: transparent;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -o-transition: all .15s linear;
    -ms-transition: all .15s linear;
    transition: all .15s linear; }
  .header.active {
    background: var(--darkblue); }
  .header__logo {
    height: auto;
    display: inline-block;  }
  .header__logo img {
    max-width: 250px;
    display: block; }
  .header__nav {
    float: right;
    margin: 20px 0; }
  .header__nav ul li {
    padding-right: 50px;
    display: inline-block; }