@media only screen and (max-width: 1450px) {
  .numbers .numbers__select .row-depth-1 {
    flex: 1 0 21%;
    padding-bottom: 3rem; }
  .rewarding .rewarding__graph div {
    width: 8%;
    min-width: unset;
    margin-right: 2%;
    margin-left: 2%; }
}

@media only screen and (max-width:1250px) {
  .hero {
    border-radius: 0 0 15rem 0; }
}

@media only screen and (max-width:1150px) {
  .innovation .innovation__img, 
  .innovation .innovation__img[class*="span"],
  .innovation .innovation__img[class*="span"]:first-child {
    margin-left: -5% !important; }
  .innovation .innovation__copy.copy__left,
  .innovation .innovation__copy.copy__left[class*="span"] {
    width: 55%; }
  .innovation .innovation__point--item .spacer {
    display: none; }
  .innovation .innovation__point--item.active {
    padding: 10% 0 0 0; }
}

@media only screen and (max-width: 1024px) {
  .fueling, .fueling[class*="span"] {
    border-radius: 5rem 5rem 0 0; }
  .main__title--group, 
  .main__title--group[class*="span"], 
  .main__title--group[class*="span"]:first-child {
    padding-bottom: 5rem; }
  .life .bamboo.fade>.slides>* {
    min-height: 90vh;
    max-height: 90vh; }
  .life .life__slide--copy {
    position: relative;
    width: 60%;
    height: 100vh;
    padding: 5% 2.5%;
    z-index: 2;
    background: rgba(0, 116, 192,0.75);
    overflow: hidden; }
  .life .life__slide--copy h3 {
    font-weight: 700; }
  .life .bamboo .fit-img {
    max-width: 100%;
    position: absolute;
    left: 0; }
  .life .bamboo-navigation {
    bottom: -10%; }
}
  
@media only screen and (max-width:1000px) {
  .fueling .fueling__bg, 
  .fueling .fueling__bg[class*="span"] {
    display: none; }
  #fuelingFg {
    max-height: 60vh; }
  .rewarding #rewardingParallax1 h2:nth-child(1),
  .rewarding #rewardingParallax2 h2:nth-child(3) { display:none }
  .rewarding #rewardingParallax1 h2:nth-child(2) { top:50%; }
  .rewarding #rewardingParallax1 h2:nth-child(4) { top:120%; }
  .rewarding #rewardingParallax1 h2:nth-child(5) { top:165%; }
  .rewarding #rewardingParallax2 h2:nth-child(2) { top:52%; left:72%; }
  .rewarding #rewardingParallax2 h2:nth-child(4) { top:75%; left:44%; }
  .rewarding #rewardingParallax2 h2:nth-child(5) { left:-3%; }
  .innovation .innovation__img, 
  .innovation .innovation__img[class*="span"] {
    display: none; }
  .innovation .innovation__copy,
  .innovation .innovation__copy[class*="span"] {
    width: 75%;
    padding: 0; }
  .security .security__background {
    display: none; }
  .innovation .innovation__bg--left { width:85vw; top:90vh; }
  .innovation .innovation__bg--right { width:100vw; bottom:-20vh; }
}

@media only screen and (max-width: 850px) {
  .main__copy, 
  .main__copy[class*="span"], 
  .row-fluid .main__copy[class*="span"]:first-child {
   width:90%; }
  .numbers .numbers__select .row-depth-1 {
    flex: 1 0 30%; }
}

@media only screen and (max-width:768px) {
  .mental .mental__foreground img.mental__image--fg {
    width:75% }
  .mental .mental__background {
    bottom:0; }
  .mental .mental__parallax:nth-child(3) {
    margin-top: -4%; }
  .mental .mental__parallax:nth-child(4) {
    margin-top: -4%; }
  .innovation .innovation__copy.copy__left,
  .innovation .innovation__copy.copy__left[class*="span"] {
    width: 80%; }
  .life .life__slide--copy {
    width: 100%; }
  .life .bamboo-navigation {
    width: 90%; }
}

@media only screen and (max-width:767px) {
  .rewarding .rewarding__numbers {
    display: none; }
}

@media only screen and (max-width: 600px) {
  .main__subtitle, .main__subtitle[class*="span"], .main__subtitle[class*="span"]:first-child {
    max-width: 90%; }
  .hero .hero__sub, .hero .hero__sub[class*="span"] {
    width: 90%;
    margin: 0 auto; }
  .numbers__selected--item h4, .numbers__selected--item h4[class*="span"] {
    font-size: 20px; }
  #fuelingFg {
    width: 90%; }
  .life .slideshow {
    height: 90vh; }
  .life .bamboo.fade>.slides>* {
    min-height: auto;
    max-height: auto; }
  .life .life__slide--copy {
    padding: 10% 2.5%; }
  .life .bamboo-navigation {
    bottom: -12.5%; }
  .stand .main__copy, .stand .main__copy[class*="span"], .stand .main__copy[class*="span"]:first-child {
    padding-top: 0; }
  .stand .main__copy h4.copy {
    font-size: 18px;
    text-align: left; }
}

@media only screen and (max-width:500px) {
  .life, 
  .life[class*="span"] {
    height: 100%; }
  .stand__copy, 
  .stand .stand__copy {
    width: 90%; }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}