/*==============UNIVERSAL===============*/
body {
  overflow-x: hidden; }
.main, 
.main[class*="span"] {
  height: 100vh;
  padding: 6rem 0 7rem 0;
  position: relative; }
.main__title--group {
  padding-bottom: 6rem; }
.light h3, 
.light h4, 
.light h5, 
.light p, 
.light span, 
.light ul li {
  color: black; }
.dark h3, 
.dark h4, 
.dark h5, 
.dark p, 
.dark span, 
.dark ul li {
  color: white; }
.main__subtitle {
  padding-top: .75rem; }
.main__copy, 
.main__copy[class*="span"], 
.row-fluid .main__copy[class*="span"]:first-child {
  width: 720px;
  margin: 0 auto;
  padding: 0;
  float: none; }
.copy__left, 
.copy__left[class*="span"],
.copy__left .main__copy[class*="span"],
.copy__left .row-fluid .main__copy[class*="span"]:first-child{
  margin-left: 0; }

/*=====================HERO======================*/
.hero {
  height: 100vh;
  border-radius: 0 0 500px 0;
  background: linear-gradient(0deg,rgba(0,116,192, 0.95),rgba(51,172,245, .75)),url('https://cdn2.hubspot.net/hubfs/5213739/2019%20Year%20in%20Review%20Landing%20Page/Yea%20in%20review%202019%20-%20quick%20mockup%20(1).jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
.hero .hero__subtitle {
  font-size: calc(22px + (32 - 22) * ((100vw - 300px) / (1900 - 300)));
  font-weight: 400;
  letter-spacing: 2px;
  display: block;
  padding-top: .5rem;}
.hero .hero__icon, 
.hero .hero__icon[class*=span] {
  height: 125px;
  width: 125px;
  display: block;
  text-align: center;
  margin: 30px auto;
  float: none;
  background: white;
  border-radius: 50%; }
.hero .hero__sub {
  text-align: center; }
.hero .hero__sub span {
  font-weight:400;
  letter-spacing: 1px;
  font-style: italic; }

/*=====================NUMBERS======================*/
.numbers.main, 
.numbers.main [class*="span"] { 
  height: 100%; }
.numbers .main__title h2 {
  color: var(--darkblue); }
.numbers__selected, 
.numbers__selected[class*="span"] { 
  min-height: 600px;
  text-align: center; }
.numbers__selected--item img {
  min-width: 250px;
  min-height: 250px;
  background: lightgrey;
  margin: 0 auto;} 
.numbers__selected--item h2 {
  color: var(--darkblue);
  padding-top: 2rem; }
.numbers__selected--item h4 {
  padding-top: .5rem;
  font-weight: 500; }
.numbers__icon--item {
  min-width: 100px;
  padding: 0 2rem;
  text-align: center;
  cursor: pointer; }
.numbers__icon--item h5 {
  font-size: 16px;
  padding-bottom: 0.5rem; }
.numbers__icon--item img {
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  border-radius: 50%;
  border: 2px solid black;
  margin: 0 auto; }

/*=====================FUELING=====================*/
.fueling {
  border-radius: 150px 150px 0 0;
  background: var(--darkblue); }
.fueling .main__title h2 {
  color: var(--yellow); }
.fueling .fueling__fg {
  text-align: center;
    position: absolute;
    bottom: -3rem;
    width: auto;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 1;
    pointer-events: none; }

/*=====================REWARDING===============*/
.rewarding {
  background: transparent; }
.rewarding .main__title h2 {
  color: var(--darkblue); }
.rewarding .rewarding__numbers {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  pointer-events: none; }
.rewarding .rewarding__graph {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0; }
.rewarding .rewarding__graph div {
  width: 6%;
  min-width: 100px;
  height: 0;
  margin: 0 2.5%;
  background: var(--lightblue);
  margin-top: auto;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -o-transition: all 1.5s;
  -ms-transition: all 1.5s;
  transition: all 1.5s;
  transition-timing-function: cubic-bezier(0.25, 0.25, 0.005, 1)}
.rewarding__graph div:nth-child(1) {
  height: 25px; }
.rewarding__graph div:nth-child(2) {
  height: 100px; }
.rewarding__graph div:nth-child(3) {
  height: 150px; }
.rewarding__graph div:nth-child(4) {
  height: 250px; }
.rewarding__graph div:nth-child(5) {
  height: 250px; }
.rewarding__graph div:nth-child(6) {
  height: 300px; }
.rewarding__graph div:nth-child(7) {
  height: 350px; }
.rewarding__graph.active div:nth-child(8) {
  height: 700px;
  background: var(--darkblue); }
.rewarding .rewarding__parallax {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1; }
.rewarding .rewarding__parallax h2 {
  font-size: 190px;
  position: absolute;
  color: var(--orange); 
  opacity: 0.4; }
.rewarding #rewardingParallax1 h2:nth-child(1) {
  font-size: 16em;
  opacity: .3;
  top: 83%;
  left: 58%; }
.rewarding #rewardingParallax1 h2:nth-child(2) {
  font-size: 20em;
  opacity: 0.3;
  top: 59%;
  left: 6%; }
.rewarding #rewardingParallax1 h2:nth-child(3) {
  top: 0;
  left: 14%; }
.rewarding #rewardingParallax1 h2:nth-child(4) {
  top: 110%;
  left: 90%; }
.rewarding #rewardingParallax2 h2:nth-child(1) {
  font-size: 18em;
  opacity: 0.3;
  top: 2%;
  left: 67%; }
.rewarding #rewardingParallax2 h2:nth-child(2) {
  top: 25%;
  left: 42%; }
.rewarding #rewardingParallax2 h2:nth-child(3) {
  top: 34%;
  left: 91%; }
.rewarding #rewardingParallax2 h2:nth-child(4) {
  top: 64%;
  left: 34%; }
.rewarding #rewardingParallax2 h2:nth-child(5) {
  top: 101%;
  left: 21%; }

/*=====================MENTAL===============*/
.mental {
  background: var(--lightblue); }
.mental .main__title h2 {
  color: var(--darkblue); }
.mental .mental__foreground {
  text-align: center;
  position: absolute;
  bottom: 0; } 
.mental .mental__foreground img {
  max-height: 40vh; }

/*=====================SECURITY===============*/
.security,
.security[class*="span"] {
  /*height: 107vh;*/
  background: var(--darkblue); }
.security .main__title h2 {
  color: var(--yellow); }
.security .security__foreground {
  padding-top: 7rem;
  text-align: center; }
.security .security__foreground img {
  height: 160px; }
.security .security__background {
  width: 110%;
  position: absolute;
  top: 0;
  right: 0;
  left: -5%;
  margin: 0 auto;
  text-align: center;
  z-index: 0;
  pointer-events: none; }
.security .security__background img {
  object-fit: cover;
  height: 100%; }

/*=====================INNOVATION===============*/
.innovation {
  background: var(--lightgrey); }
.innovation .main__title h2 {
  color: var(--darkblue); }
.innovation .innovation__phone {
  margin-bottom: 0;
  text-align: center; }
.innovation .innovation__copy,
.innovation .innovation__copy .main__copy {
  margin-left: -7%; }
.innovation .innovation__point--item {
  padding: 3rem 0 0 0; }
.innovation .innovation__point--item img {
  min-height: 10%;
  max-height: 10%;
  min-width: 10%;
  max-width: 10%;
  background: lightgrey;
  border-radius: 50%;
  margin-right: auto; }
.innovation .innovation__point--item p {
  width: 85%; }

/*=====================TESTIMONIALS===============*/
.testimonials {
  background: var(--lightblue); }

/*=====================LIFE======================*/
.life {
  background: var(--darkblue); }

/*=====================STAND======================*/
.stand,
.stand[class*="span"] {
  height: 120vh;
  background: var(--midblue); }
.stand__focus {
  height:75vh; }
.stand__copy,
.stand .stand__copy {
  width: 400px;
  font-size: 20px;
  padding-top: 0.25rem;
  line-height: 34px;
  text-align: center; }

/*=====================MESSAGE======================*/
.message {
  background: white; }
.message__main--title h2 {
  color: var(--darkblue); }
.message__focus, 
.message .message__focus[class*="span"] {
  max-width: 85%;
  margin: 0 auto;
  float: none; }
.message__body {
  padding: 3rem; } 
.message__copy, 
.message .message__copy[class*="span"] {
  width: 80%; }
.message__image, 
.message .message__image[class*="span"] {
  padding: 0;
  margin: 0;
  width: auto; }
.message .message__image.right[class*="span"] {
  margin-left: -5rem; }
.message .message__image.left[class*="span"] {
  margin-right: -5rem; }
.message__image img {
  min-width: 400px;
  border-radius: 50%; }
.message__identity h4, 
.message__identity span {
  text-align:left; }
.message__body, 
.message .message__body[class*="span"] {
  background: var(--lightgrey); }






